<h2>Word: <%= @word.name %></h2>

<form action="/" method="post">
  <div class="form-group">
    <label for="definition">Definition</label>
    <input id="definition" name="definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add!</button>
</form>
