<h1><%= @word.name %></h1>
  <% @word.definitions.each do |definition| %>
    <h4>Definition <%=@word.definitions.index(definition) + 1%>: <%= definition %></h4>
  <% end %>
    <br>

<h4><a href='/definition/<%= @word.id %>'>Add another definition</a></h4>
<h4><a href='/'>Return home</a></h4>
