<div class='row'>
  <div class='col-sm-4'>
    <div id='displayImage'>
      <img src="/img/dictionary.png" alt="Picture of a dictionary.">
    </div>
  </div>

  <div class='col-sm-8'>
    <div id='displayWords' class='well'>
      <h3><%= @word.name %>: </h3>
      <h4><%= @word.definition %></h4>
      <br>
      <a id='home' href='/'>Return to home page!</a>
    </div>
  </div>
</div>
